<form (ngSubmit)="addItem()" class="form-enter">
    <mat-form-field class="example-full-width" style="width: 60%">
        <input matInput placeholder="Add to do item" name="name" [(ngModel)]="item.name">
    </mat-form-field>
    <button mat-mini-fab color="warn">
            <i class="material-icons">add</i>
    </button>
</form>
<div class="container">
    <div *ngIf="items.length > 0">
        <mat-list class="items-list">
            <mat-list-item *ngFor="let item of items" [class.completed]="item.completed">
                <div *ngIf="item.editing">
                    <input [(ngModel)]="editName" [required]="true" />
                    <button class="wrapbutton" mat-mini-fab color="primary" (click)="updateItem(item)">
                            <mat-icon>save</mat-icon>
                        </button>
                </div>
                <div *ngIf="!item.editing">
                    <mat-checkbox [checked]="check" (click)="toggleItemCompleted(item)"></mat-checkbox>
                    <label>{{item.name}}</label>
                    <span class="wrapbutton">
                        <button mat-mini-fab color="primary" [disabled]="item.completed" (click)="editItem(item)">
                            <mat-icon>mode_edit</mat-icon>
                        </button>
                        <button mat-mini-fab color="warn" (click)="deleteItem(item)">
                            <mat-icon>delete_forever</mat-icon>
                        </button>
                    </span>
                </div>

            </mat-list-item>
        </mat-list>
        <br />
        <hr>
        <br />
        <div>
            <strong>{{items.length}}</strong> {{items.length == 1 ? 'thing' : 'things'}} on the list...
            <span *ngIf="unfinished" class="unfinished"><strong>{{unfinished}}</strong> {{unfinished == 1 ? 'thing' : 'things'}} unfinished</span>
            <span *ngIf="finished" class="finished"><strong>{{finished}}</strong> {{finished == 1 ? 'thing' : 'things'}} finished</span>
        </div>
    </div>
</div>